<div class="comment clear_fix">
<div class="commment_content">
<p class="comment_name"><strong><%=comment.name%></strong></p>
<p class="comment_body"><%=comment.body%></p>
<p class="comment_time"><%=time_ago_in_words(commet.created_at)%></p>
</div>

</div>
